.header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 178px;
}

/* .banner{
    margin-left: 97px;
} */
.banner-section {
    display: flex;
    justify-content: space-between;
    margin: 150px 240px;

}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 35px;
}

.banner-desc {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 52px;
}

.banner-image {
    margin-left: 97px;
}

.banner-btn {
    padding: 20px;
    width: 130px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: 0;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.featured-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.featured-image-1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
width: 464px;
height: 538px;
}