.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner-section {
    display: flex;
    justify-content: space-between;
    margin: 0px 240px;

}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    margin-top: 197px;
    margin-bottom: 35px;
}

.banner-desc {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 52px;
}

.banner-image {
    width: 635px;
    height: 800px;
    margin-left: 97px;
    margin-top: 30px;
}

.banner-btn {
    padding: 20px;
    width: 170px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
}

.featured-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 55px;
}

.featured-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 310px;
    height: 428px;
    margin: auto;
    padding: 110px;
}

.featured-image-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    margin-right: 25px;
}

.featured-image-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    margin-right: 25px;
}

.featured-image-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}
.img-desc {
    margin-top: 2px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.customer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
width: 1440px;
height: 320px;
}
.delivery-section{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.customer-image{
    width: 88px;
height: 88px;
}
.customer-desc{
    margin-top: 10px;
}
.hot-deal{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}
.hot-deal-section{
    display: flex;
    justify-content: space-between;
}
.deal-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
text-align: center;
}
.deal-desc{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
}
.deal-section{
    text-align: center;
    justify-content: center;
    margin: 301px 395px;
}
.deal-image{
    margin: 130px 110px;
    margin-right: 350px;
    width: 380px;
    height: 420px;
}
.instagram{
    margin: 0px;
    justify-content: center;
}
.instagram-section{
    text-align: center;
    padding: 20px;
}
.instagram-section-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.insta-image-section{
    display: flex;
    justify-content: center;
}
.insta-image-section-1{
    width: 342px;
height: 396px;
}
.latest-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.latest-desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.input-field{
    text-align: center;
}
#input{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
    border-radius: 8px;
background: #FFF;
width: 700px;
height: 64px;
}
.latest-deal{
    background: url("../images/Flower/Rectangle\ 9.png");
    background-size: cover;
    width: 1440px;
height: 449px;
margin: auto;
padding: 60px;
box-shadow: 5px 10px 18px #888888 ;
}
.latest-deal-section{
    justify-content: center;
    margin: auto;
    align-items: center;
}
#footer{
    background: #111010;
    width: 100%;
height: 449px;
display: flex;
justify-content: center;
margin-top: 180px;
}
#footer h1{
    color: #E55473;
    text-align: center;
font-family: Lato;
font-size: 48px;
font-weight: 800;
}
#footer h3{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
#footer p{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
}
.footer-section{
    display: flex;
    justify-content: center;
    margin: auto;
    
}