.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner-section {
    display: flex;
    justify-content: space-between;
    margin: 0px 240px;

}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    margin-top: 197px;
    margin-bottom: 35px;
}

.banner-desc {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 52px;
}

.banner-image {
    width: 635px;
    height: 800px;
    margin-left: 97px;
    margin-top: 30px;
}

.banner-btn {
    padding: 20px;
    width: 170px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
}

.featured-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 55px;
}

.featured-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 310px;
    height: 428px;
    margin: auto;
    padding: 110px;
}

.featured-image-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    margin-right: 25px;
}

.featured-image-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    margin-right: 25px;
}

.featured-image-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}
.img-desc {
    margin-top: 2px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.customer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
width: 1440px;
height: 320px;
}
.delivery-section{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.customer-image{
    width: 88px;
height: 88px;
}
.customer-desc{
    margin-top: 10px;
}
.hot-deal{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}
.hot-deal-section{
    display: flex;
    justify-content: space-between;
}
.deal-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
text-align: center;
}
.deal-desc{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
}
.deal-section{
    text-align: center;
    justify-content: center;
    margin: 301px 395px;
}
.deal-image{
    margin: 130px 110px;
    margin-right: 350px;
    width: 380px;
    height: 420px;
}
